footer {
    margin-top: 100px;
}

.footer_container {
    max-width: 1045px;
    margin: 0 auto;
}

.footer__span {
    margin-bottom: 82px;
}

.footer__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 80px;
}

.footer__title:active {
    opacity: 0.5;
}

.footer__list {
    width: 285px;
    display: flex;
    justify-content: space-between;
}

.footer__subtitle {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.footer__footer-title {
    width: 255px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.footer__footer-text {
    width: 255px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.footer__item {
    margin-right: 95px;
}

.footer__and {
    background-color: #2C343E;
}

.footer__btn {
    padding: 16px 31px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background: #0E8784;
    border-radius: 6px;
    color: #FEFCF7;
    border: none;
    margin-top: 64px;
    margin-bottom: 200px;
}

.footer__btn:hover {
    background: #66D2CF;
    border-radius: 6px;
}

.footer__btn:active {
    background: #E2DEDB;
    border-radius: 6px;
}

.footer__foto {
    width: 236px;
    height: 26px;
}

.footer__and {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 85px 49px 85px;
}

.footer__and-list {
    display: flex;
}

.and {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888F;
    margin-left: 33px;
}

.footer__and-icon {
    margin-left: 24px;
}

@media screen and (max-width:1000px) {
    .footer__title {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
    }

    .footer__list {
        max-width: 805px;
    }

    .footer__item {
        margin-right: 50px;
    }
}

@media screen and (max-width:900px) {
    .footer__title {
        text-align: center;
    }

    .footer__item {
        margin-bottom: 30px;
    }

    .footer__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }

    .footer__and {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 690px;
    }

    .footer__foto {
        max-width: 217px;
        margin-bottom: 29px;
    }

    .footer__and-item {
        margin-bottom: 20px;
    }
}
@media screen and (max-width:700px) {
    .footer__and-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
}